$grey: #eee;
$white: #fff;
$bg_color: #f2f2f2;
$grey_text: #959595;
$current_date_bg_color: #F2F2F2;
$today_bg_color: #EB5348;

$font_size: 30rpx;

$sec_padding: 0 20rpx;
$sec_margin: 20rpx;
$border_size: 1rpx;
$border_radius: 4rpx;
$container_width: calc(100% - 40rpx);
$item_size: calc(calc(100vw - 100rpx) / 7);

