$grey: #eee;
$white: #fff;
$red: #ff0000;

$font_color: #ccc;

$sec_padding: 20rpx 0 10rpx 20rpx;
$sec_margin: 20rpx;
$border_size: 1rpx;
$border_radius: 4rpx;
$container_width: calc(100% - 40rpx);
$item_size: calc(calc(100vw - 100rpx) / 7);

